@import "../../styles/global.scss";
@import "~react-image-gallery/styles/scss/image-gallery.scss";
.padrinhos-page {
  min-height: 100vh;
  height: 100%;
  background-color: $color_3;
  .container {
    height: 100%;
    width: 60%;
    text-align: center;

   
    h1 {
      // font-weight: bold;
      // color: $base-color;
      margin-bottom: 24px;
      margin-top: 2rem;
    }

    h3 {

      margin-top: 6rem;
      margin-bottom: 24px;
    }

    i {
      // gap: 10px;
      margin-left: 10px;
    }

    p {
      margin-bottom: 3rem;
      font-size: 20px;
    }
  }
}
